<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center
      min-vh-100">
    <div class="col-12 col-md-8 col-lg-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="mb-4">
            <h5 class="text-center"><i class="fa fa-lock fa-4x"></i></h5>
            <h2 class="text-center">Forgot Password?</h2>
            <p class="text-center">You can reset your password here.</p>
          </div>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <%= f.email_field :email, class: "form-control", placeholder: "Enter Your Email", 
                required: true %>
            </div>
              <%= f.submit "Reset password", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>