<%= render partial: 'layouts/navbar'%>
<%= stylesheet_link_tag 'contact' %>
<div class="container">
  <div style="text-align:center">
    <h1><b>About Us</b></h1>
    <p>FamEve</p>
  </div>
  <div class="row">
    <div class="column">
      <%= image_tag "logo.jpg", style: "width:100%" %>
    </div>
    <div class="column">
      <br><br><h2>Family Event Organizer</h2>
      <br><br><p>Using FamEve ( Family Event Organizer), users and vendors/Service providers will be able to connect in one central location, making it easier to plan any kind of family event. Its intended that the platform serve as a public marketplace. The primary goal is to facilitate users ability to plan and execute any sort of family gathering in accordance with their own preferences and financial constraints. FamEve provides a wide variety of helpful functions. A smartphone app will serve as the portal for end users, while a web portal will be available for suppilers and service providers. Users will be able to connect with various vendors through a mobile application, while sellers will use a web portal to advertise their offering and develop a profile. </p>
    </div>
  </div>
</div> 

