<%= render partial: 'layouts/navbar'%>
<%= stylesheet_link_tag 'contact' %>
<div class="about-section">
  <h1>User Manual</h1>
</div>
<div class="container">
  <div class="row">
    <div class="column">
      <%= image_tag "manual.jpg", style: "width:100%" %>
    </div>
    <div class="column">
      <br><br><h2>What you can do using our platform</h2>
      <br><br><p>User manuals are hugely important for users seeking to understand products and processes. Sometimes they will even be legally required for a company to sell its products to customers.</p>

      <p>Customers will often turn to your user manual before reaching out to your customer support team, so your manual has the potential to save you money on support costs.</p>

      <p>It’s worth investing significant time and effort in your user manual so you can provide the best customer experience possible. In this post, we’ll look at the definition of a user manual, best practices for how to write one, and some examples of software you can use to write your manual.</p>
    </div>
  </div>
</div> 
<%= render partial: 'layouts/footer'%>

